/* ProductContainer */
.container {
    width: 80rem;
    height: 30rem;
    padding: 5px;
    margin: 5px;
}
.container-image>img {
    width: 20rem;
    height: 20rem;
    padding: 5px;
    margin: 5px;
}
.container-details {
    width: 20rem;
    margin: 5px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}
.container-details>h4 {
    color: var(--Grey-scale-1000, #000);
    font-family: Syne;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.container-details>p {
    color: var(--Greyscale-400, rgba(22, 22, 21, 0.50));
    font-family: Work Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}